<!DOCTYPE html>
<html lang="en" />
  {{> head meta-title=home.meta-title meta-description=home.meta-description}}
  <body class="dark-header">
      {{> nav}}
    <main>
    <div class="main secondary-template">
        <div class="main-header">
            <div class="header-text row">
                <div class="col-sm-8">
                    <h1>I'm Tyler Kung</h1>
                    <h2>Front-End Developer, Designer, Warriors Fan, Gamer, and Burrito Connoisseur. I work to bring captivating digital ideas to life. I enjoy the unconventional and am constantly looking for what's next.</h2>
                    <h2 style="color: #014cce">Let's work together.</h2>
                </div>
            </div>
            <div class="header-image-container">
                <img src="/img/about-1.jpg" class="header-img-left">
                <img src="/img/about-3.jpg" class="header-img-right">
            </div>
        </div>
        <div class="main-content">
            <div class="container reader-container">
                <div class="row lead-row">
                    <div class="col-md-9 offset-md-1">
                        <p class="reader lead">My friends call me "TK." My name isn't particularly difficult or long, but somehow it just happened.
                        </p>
                        <p class="reader">I graduated from Santa Clara University in 2016 with a degree in Computer Science and Engineering with a Mathematics minor. (I wouldn't dive too deep into my math knowledge.) </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 sidebar-area">
                        <h5 class="rotated">About Me</h5>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <p class="reader">Currently, I'm based in San Francisco, CA as a digital developer for HDMZ, a full service digital marketing agency. I've managed and executed multiple web projects as the primary front-end developer and have helped clients bring their ideas to life. At HDMZ, I've worked with clients and projects of all sizes and have grown to understand the creative and digital process of building a website.
                        </p>
                        <p class="reader">Creatively, I'm pushing myself to constantly create things. I've always liked drawing and doodling growing up, and I think those skills have helped me develop creative skills in a digital space. Whether it's website designs, stickers, or whatever it may be, I enjoy the creative process and time spent not looking at code. 🙂
                        </p>
                        <p class="reader">In my free time, I love traveling or getting some buddies together to play basketball or grab beers. Trying my best to cut down on my daily screen time, but I'll make an occassional exception for a couple of hours of video games.
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <img src="/img/about-2.jpg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 sidebar-area">
                        <h5 class="rotated">Capabilities</h5>
                    </div>
                    <div class="col-md-9 col-sm-10 content-area">
                        <ul class="">
                            <li>Graphic Design</li>
                            <li>Front-end Development</li>
                            <li>Responsive Design</li>
                            <li>Wireframing</li>
                            <li>Prototyping</li>
                            <li>Accessibility</li>
                            <li>Browser Compatibility</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 sidebar-area">
                        <h5 class="rotated">Technical Experience</h5>
                    </div>
                    <div class="col-md-9 col-sm-10 content-area">
                        <ul class="">
                            <li>LESS/SCSS</li>
                            <li>Javascript</li>
                            <li>VueJS</li>
                            <li>PHP</li>
                            <li>Handlebars</li>
                            <li>Docker</li>
                            <li>Git</li>
                            <li>Gulp</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <script src="/scripts/all.js"></script>
  </body>
</html>
