<!DOCTYPE html>
<html lang="en" />
  {{> head meta-title=home.meta-title meta-description=home.meta-description}}
  <body>
      {{> nav}}
    <main id="swup" class="transition-fade">
    <div class="main">
        <div class="main-header">
            <div class="header-text">
                <h1>About</h1>
            </div>
        </div>
        <div class="main-content">
            <div class="container">

            </div>
        </div>
    </div>
    </main>
    <script src="/scripts/all.js"></script>
  </body>
</html>
