<!DOCTYPE html>
<html lang="en" />
  {{> head meta-title=home.meta-title meta-description=home.meta-description}}
  <body class="dark-header">
      {{> nav}}
    <main>
    <div class="main secondary-template">
        <div class="main-header">
            <div class="header-text row">
                <div class="col-sm-8">
                    <h1>I'm Tyler Kung</h1>
                    <h2>Front-End Developer, Designer, Warriors Fan, Gamer, and Burrito Connoisseur. I work to bring captivating digital ideas to life. I enjoy the unconventional and am constantly looking for what's next.</h2>
                    <h2 style="color: #014cce">Let's work together.</h2>
                </div>
            </div>
            <div class="header-image-container">
                <img src="/img/about-1.jpg" class="header-img-left">
            </div>
        </div>
        <div class="main-content">
            <div class="container">

            </div>
        </div>
    </div>
    </main>
    <script src="/scripts/all.js"></script>
  </body>
</html>
