<!DOCTYPE html>
<html lang="en" />
  {{> head meta-title=home.meta-title meta-description=home.meta-description}}
  <body class="">
      {{> nav}}
        <div class="main-header">
            <div class="header-bg" data-parallax="scroll" data-image-src="/img/kaytranada.jpg" data-speed="0.8">
            </div>
            <div class="header-text">
                <h1>About</h1>
            </div>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Friends</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="banner-image">
                            <img src="/img/mike-4.jpg">
                        </div>
                    </div>
                </div>
                <div class="row flex">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="centered-image white">
                            <img src="/img/wuzhen-1.jpg">
                            <div class="img-caption animate">
                                <h3>Image Caption</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="shadow-image white">
                            <img src="/img/wuzhen-2.jpg">
                            <div class="img-caption animate">
                                <h3>Image Caption</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="centered-image black">
                            <img src="/img/wuzhen-3.jpg">
                            <div class="img-caption animate">
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="shadow-image white">
                            <img src="/img/kaytranada-2.jpg">
                            <div class="img-caption animate">
                                <h3>Image Caption</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     {{> footer}}
  </body>
</html>
