<!DOCTYPE html>
<html lang="en" />
  {{> head meta-title='Work | Tyler Kung' meta-description=home.meta-description}}
<body class="">
  {{> nav}}
    <main>
    <div class="main">
        <div class="main-header">
            <div class="header-text row">
                <h1>Work</h1>
            </div>
        </div>
        <div class="main-content">
            <div class="container">
                {{> list}}
            </div>
        </div>
    </div>
    </main>
    <script src="/scripts/all.js"></script>
</body>
</html>
