<!DOCTYPE html>
<html lang="en" />
  {{> head meta-title=home.meta-title meta-description=home.meta-description}}
<body class="">
  {{> nav}}
    <main>
    <div class="main work-template">
        <div class="main-header">
            <div class="header-text row">
                <h1>Friends</h1>
            </div>
        </div>
        <div class="main-content">
            <div class="container">
            </div>
        </div>
    </div>
    </main>
    <script src="/scripts/all.js"></script>
</body>
</html>
