<!DOCTYPE html>
<html lang="en" />
  {{> head meta-title=home.meta-title meta-description=home.meta-description}}
  <body class="">
      {{> nav}}
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="main-header">
            <div class="header-bg" data-parallax="scroll" data-image-src="http://tyler-kung.com/_Friends/img/kaytranada.jpg" data-speed="0.8">
            </div>
            <div class="header-text">
                <h1>Styles</h1>
            </div>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Header 1</h1>
                        <h2>Header 2</h2>
                        <h3>Header 3</h3>
                        <h4>Header 4</h4>
                        <h5>Header 5</h5>
                        <h6>Header 6</h6>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis nunc dapibus, vulputate tellus quis, commodo dolor.</p>
                        <p>Duis sit amet elit tincidunt orci sodales dictum. In semper sagittis enim lobortis consequat. Maecenas quis eleifend nisl. Curabitur cursus, purus eget ornare consectetur, tellus augue facilisis odio, non ultricies purus ipsum eu purus. Donec elementum mauris non ante faucibus, non porttitor nulla tempus. Vivamus eget vehicula nunc. Mauris efficitur, turpis non tincidunt tincidunt, enim neque iaculis turpis, in pellentesque tellus ipsum vitae est. Integer risus lacus, molestie at velit vitae, dapibus iaculis sem. Duis finibus lorem sapien, vel congue ligula euismod non. Etiam pretium arcu a consectetur molestie.</p>
                        <p class="blockquote">Sed ante purus, mattis sit amet consectetur sed, lobortis sit amet ex. Praesent a efficitur dolor. Duis blandit, magna id interdum sodales, mauris dui tristique lorem, sit amet consectetur elit felis et odio. Mauris tristique eu quam et gravida. Nunc sed ante ipsum.</p>
                        <p>Phasellus pellentesque metus sed elementum tempus. Nullam tristique, enim eget tristique egestas, velit dui eleifend nulla, sed fermentum metus neque ut massa. Fusce at laoreet odio. Ut iaculis diam nec nisl bibendum, eget facilisis diam mattis. Nam quam quam, laoreet in lacus ac, sagittis ultricies enim. Quisque iaculis eu nunc sit amet fringilla. Mauris accumsan eu nisi ac aliquam.</p>
                    </div>
                </div>
            </div>
            <div class="secondary-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Vestibulum lobortis nunc dapibus, vulputate tellus quis, commodo dolor. Duis sit amet elit tincidunt orci sodales dictum. In semper sagittis enim lobortis consequat.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p>Maecenas quis eleifend nisl. Curabitur cursus, purus eget ornare consectetur, tellus augue facilisis odio, non ultricies purus ipsum eu purus</p>
                    </div>
                </div>
            </div>
        </div>
     {{> footer}}
  </body>
</html>
