.home-template.main .main-area{
    display: grid;
    grid-template-columns: 50px auto auto auto 50px;
    grid-template-rows: repeat(5, minmax(200px, 20vh));
    grid-row-gap: 20px;
    @media (min-width: 768px){
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        height: 100vh;
        min-height: 700px;
        grid-row-gap: 0px;
        max-height: 1200px;
    }
    @media (max-width: 767px){
        margin-bottom: 2em;
    }
    .banner, .main-image, .sidebar-image, .gallery{
        img + img{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .banner{
        grid-column: 1 / span 6;
        grid-row: 1 / span 2;
        position: relative;
        overflow: hidden;
        img{
            transition-delay: 0.4s;
        }
        @media (max-width: 767px){
            display: none;
        }
    }
    .main-image{
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
        position: relative;
        z-index: 1;
        overflow: hidden;
        img{
            transition-delay: 0.2s;
        }
        @media (max-width: 767px){
            grid-column: 2 / span 3;
            grid-row: 4 / span 2;
        }
    }
    .sidebar{
        grid-column: 1 / span 1;
        grid-row: 3 / span 2;
        position: relative;
        overflow: hidden;
        @media (min-width: 768px){
            writing-mode: vertical-rl;
            display: flex;
            align-items: center;
            justify-content: center;
            *{
                transform: rotate(180deg);
                text-transform: uppercase;
            }
        }
        @media (max-width: 767px){
            display: none;
        }
    }
    .sidebar-image{
        grid-column: 1 / span 1;
        grid-row: 5 / span 2;
        position: relative;
        img{
            transition-delay: 0.4s;
        }
        @media (max-width: 767px){
            display: none;
        }
    }
    .main-content{
        padding-right: 1em;
        grid-column: 3 / span 4;
        grid-row: 4 / span 3;
        position: relative;
        @media (max-width: 767px){
            grid-column: 1 / span 5;
            grid-row: 2 / span 1;
            position: relative;
            z-index: 99;
            align-self: flex-end;
            text-align: center;
        }
        .scroller{
            display: block;
            height: calc(100% - 200px);
            bottom: -100px;
            position: absolute;
            width: 1px;
            background-color: #030209;
            overflow: hidden;
            z-index: 9;
            &:before{
                content: '';
                position: absolute;
                height: 48px;
                background-color: #fff;
                width: 1px;
                left: 0;
                animation: scroller;
                animation-duration: 2.5s;
                animation-timing-function: ease;
                animation-iteration-count: infinite;
                z-index: 10;
            }
        }
    }
    .secondary-content{
        grid-column: 7 / span 2;
        grid-row: 3 / span 3;
        padding: 2em 1em;
        @media (min-width: 768px){
            writing-mode: vertical-rl;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            *{
                transform: rotate(-180deg);
            }
        }
        @media (max-width: 1200px){
            grid-row: 2 / span 4;
        }
        @media (max-width: 767px){
            display: none;
        }
    }
    .cta{
        grid-column: 7 / span 2;
        grid-row: 6 / span 1;
        background-color: #030209;
        a{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f6f7fa;
            text-transform: uppercase;
        }
        @media (max-width: 767px){
            display: none;
        }
    }
    .gallery{
        grid-column: 9 / span 4;
        grid-row: 1 / span 6;
        position: relative;
        overflow: hidden;
        @media (max-width: 767px){
            grid-column: 1 / span 5;
            grid-row: 1 / span 4;
        }
    }
    .controls{
        grid-column: 11 / span 2;
        grid-row: 6 / span 1;
        display: flex;
        background-color: #fff;
        position: relative;
        z-index: 99;
        .arrow-left{
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.2s ease;
            i{
                transition: transform 0.2s ease;
            }
            &:hover{
                i{
                    transform: translateX(-3px);
                }
            }
        }
        .arrow-right{
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.2s ease;
            i{
                transition: transform 0.2s ease;
            }
            &:hover{
                i{
                    transform: translateX(3px);
                }
            }
        }
        @media (max-width: 767px){
            display: none;
        }
    }
    .banner, .main-image, .sidebar-image, .gallery{
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: scale(1);
        }
    }
    h1{
        font-size: 4.5rem;
        line-height: 1;
        margin-top: 5rem;
    }
    .sidebar-area{
        @media (max-width: 767px){
            padding-left: 50px !important;
        }
    }
}
.content{
    background-color: #f9f9f9;
    .row{
        margin: 0;
        margin-bottom: 2em;
        &:first-of-type{
            padding-top: 130px;
        }
    }
    div[class*="col"]{
        padding: 0;
    }
}
.content-area{
    @media (min-width: 1200px){
        max-width: 1300px;
    }
}

@keyframes scroller{
    0%{
        top: -48px;
    }
    100%{
        top: calc(100% + 48px);
    }
}
