.main-header{
    padding-top: 120px;
    margin-left: 8.333%;
    position: relative;
    .header-text{
        margin-left: 8.333%;
        padding-left: 15px;
        padding-right: 15px;
        @media (max-width: 767px){
            h2{
                font-size: 1.8em;
            }
        }
    }
    .header-image-container{

        bottom: 0;
        .header-img-left{
            width: 900px;
            height: 400px;
            position: absolute;
            left: -4.16666%;
            bottom: -200px;
            object-fit: cover;
            object-position: center center;
        }
        .header-img-right{
            width: 400px;
            height: 600px;
            position: absolute;
            object-fit: cover;
            left: 900px;
            bottom: -300px;
        }
        .header-img-right{

        }
    }
}
