.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    .logo-link{
        pointer-events: all;
        width: 8.3333%;
        z-index: 9;
        &:hover{
            text-decoration: none;
            .logo{
                color: #a1a8c7;
            }
        }
    }
    .logo{
        font-family: "Kanit";
        color: #030209;
        font-size: 3rem;
        padding: 1rem;
        line-height: 1;
        text-align: center;
        transition: color 0.2s ease;
    }
    .menu{
        width: 8.3333%;
        z-index: 9;
        .menu-button{
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding: 1.7rem;
            cursor: pointer;
        }
        .bar{
            width: 45px;
            display: block;
            background-color: #030209;
            height: 4px;
            margin-bottom: 4px;
            transition: background-color 0.2s ease;
            &:not(:first-of-type){
                width: 35px;
            }
        }
    }
    &.active{
        .logo{
            color: #fff;
        }
        .menu{
            .bar{
                background-color: #fff;
            }
        }
    }
}

.menu-overlay{
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 1s;
    padding: 1.6rem 16.666%;
    display: flex;
    align-items: center;
    background-color:  rgba(3,2,9,0.9);
    &.active{
        transform: translateY(0%);
        .menu-wrapper{
            ul{
                li{
                    animation: fadeInUp 0.8s forwards;
                }
            }
        }
    }
    .menu-wrapper{
        width: 100%;
        ul{
            display: flex;
            margin-bottom: 0;
            padding: 0;
            li{
                list-style: none;
                margin: 0 4rem;
                opacity: 0;
                animation-delay: 1s;
                a{
                    transition: color 0.2s ease;
                    h4{
                        margin-bottom: 0;
                        font-size: 1.2em;
                    }
                }
                @for $i from 1 through 10{
                    &:nth-child(#{$i}){
                        animation-delay: 0.0s + (0.1s * $i);
                        -webkit-animation-delay: 0.0s + (0.1s * $i);
                    }
                }
                &:first-of-type{
                    margin-left: 0;
                }
                &:hover{
                    a{
                        color: #a1a8c7;
                        text-decoration: none;
                    }
                }
                a{
                    color: #fff;
                }
            }
        }
    }
}
