<footer>
    <div class="footer">
        <div class="row">
            <div class="col-sm-6">
                <h3>FRIENDS</h3>
                <ul class="footer-nav">
					{{#each footer-navigation}}
						<li><a href="{{ link }}">{{ title }}</a></li>
						{{#if socials}}
							<li class="socials">
								{{#each socials}}
									<span><a href="{{link}}"><i class="fab {{icon}}"></i></a></span>
								{{/each}}
							</li>
						{{/if}}
					{{/each}}
                    <li>Footer 2019</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/all.js"></script>
