<head>
    <meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no" />
    <meta data-react-helmet="true" name="description" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{meta-title}}">
    <meta property="og:image" content="{{meta-image}}">
    <meta property="og:url" content="">
    <meta name="description" content="{{meta-description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{meta-title}}</title>
	{{> head-includes}}
</head>
