<div class="list">
    <div v-for="(item, index) in gallery" class="list-item" :class="{'half-item': featured && index > 1}">
        <div class="l-item-img">
            <a :href="item['link']">
                <div v-if="!parallaxOff" class="parallax" data-parallax="scroll" :data-image-src="item['image-1']" data-speed="0.9" data-natural-height="500" data-position="center">
                </div>
                <img v-if="parallaxOff" :src="item['image-1']"/>
            </a>
            <div class="dates" v-if="item['date']">
                ${item['date']}
            </div>
        </div>
        <div class="l-item-content">
            <div class="l-item-col">
                <h2>${item['title']}</h2>
                <h3>${item['headline']}</h3>
                <div class="tags-container" v-if="item['tags']">
                    <div class="tags">
                        ${item['tags']}
                    </div>
                </div>
            </div>
            <div class="l-item-col" v-if="index < 2 && featured || !featured">
                <div class="description">
                    <p class="description-content">${item['description']}</p>
                    <div class="cta">
                        <a :href="item['link']">
                            <div class="btn btn-default">
                                ${item['link-name']}
                            </div>
                        </a>
                        <a v-if="item['github']" :href="item['github']" target="_blank">
                            <div class="btn btn-secondary github-btn">
                                <i class="fab fa-github"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module">
{{#if data-url}}
import data from '{{data-url}}'
{{else}}
import data from '/data/data.js';
{{/if}}

var listApp = new Vue({
    delimiters: ['${', '}'],
    el: '.list',
    data: {
    },
    computed: {
        featured: function(){
            {{#if featured}}
            return {{featured}};
            {{/if}}
            return false;
        },
        parallaxOff: function(){
            {{#if parallax-off}}
            return {{parallax-off}};
            {{/if}}
            return false;
        },
        gallery: function(){
            if (this.featured){
                return data.data.slice(0, 4);
            } else{
                return data.data;
            }
        }
    },
    methods: {
    }
})
</script>
