<div class="nav" v-bind:class="{'active': menuOpen}">
	<a class="logo-link" href="/">
		<div class="logo">
			tk
		</div>
	</a>
	<div class="menu">
		<div class="menu-button" v-on:click="menuOpen = !menuOpen">
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
	</div>
	<div class="menu-overlay" v-bind:class="{'active': menuOpen}">
		<div class="menu-wrapper">
			<ul>
				{{#each navigation}}
					<li class="menu-item m-level-1">
						<a href="{{ link }}" class="">
							<h4>{{ title }}</h4>
						</a>
			        {{#if subnav}}
			                <ul class="menu-item m-level-2">
			                    {{#each subnav}}
			                       <li>
									   <a href="{{ link }}" class="">
										   {{ title }}
									   </a>
								   </li>
			                    {{/each}}
			                </ul>
			            {{/if}}
			        </li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>
