.btn{
    border-radius: 0;
    padding: 1rem 2rem;
    font-weight: bold;
    @media (max-width: 767px){
        width: 100%;
        margin-bottom: 1rem;
    }
    &:hover{
        text-decoration: none;
    }
    + .btn{
        margin-left: 5px;
    }
}
.btn-primary, .btn-default{
    background-color: #a1a8c7;
    color: #F6F7FA;
    border-color: #A1A8C7;
    &:hover, &:active{
        color: #eee !important;
        background-color: #030209 !important;
        border-color: #030209;
    }
}
.btn-secondary{
    background-color: transparent;
    color: #030209;
    border: 1px solid #030209;
    &:hover, &:active{
        color: #eee !important;
        background-color: #030209 !important;
        border-color: #030209;
    }
}
