body{
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 400;
h1{
    font-family: "Kanit", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
h2{
    font-weight: 900;
    color: #A1A8C7;
    font-size: 2.5em;
}
h3{

}
h4{

}
h5.rotated{
    @media (min-width: 768px){
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      text-transform: uppercase;
      position: relative;
      right: calc(-66.67% + 7px);
      margin: 0;
      font-size: 0.8em;
      padding-bottom: 5px;
    }
    @media (max-width: 767px){
        font-size: 1.6em;
        font-weight: bold;
    }
}
.reader{
    font-family: "Arapey";
    font-size: 19px;
}
p{
    &.reader{
        font-family: "Arapey";
        font-size: 19px;
    }
}
b, strong{

}
a{
    color: #0e19b8;
}
ul{
    padding-left: 0;
    li{
        list-style: none;
    }
}
.lead{
    font-size: 1.8em !important;
    line-height: 1.6;
}
}
