html {
  padding:0;
  margin:0;
  border:0;
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  margin:0;
  font-size: 18px;
  line-height: 2;
  // font-family: "Roboto Mono", Helvetica, Arial, Times, sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
