

html {
  padding:0;
  margin:0;
  border:0;
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  margin:0;
  background-color: #212121;
  font-size: 18px;
  color: #eee;
  line-height: 2;
  font-family: "Roboto Mono", Helvetica, Arial, Times, sans-serif;
  overflow-x: hidden;
  padding-top: 150px;
  width: 100%;
}
