<!DOCTYPE html>
<html lang="en" />
  {{> head meta-title='tyler-kung.com | Tyler Kung' meta-description=home.meta-description}}
<body class="">
  {{> nav}}
    <main>
    <div class="main work-template">
        <div class="main-header">
            <div class="header-text row">
                <h1>Tyler Kung</h1>
            </div>
        </div>
        <div class="main-content">
            <div class="work-intro container">
                <img src="/img/tk-og-image.png">
            </div>
            <div class="container">
                <section>
                <div class="row">
                    <div class="col-lg-4 section-header">
                        <p><img src="/img/tk-v2.jpg"></p>
                    </div>
                    <div class="col-lg-7">
                        <p class="reader">
                            For 2019, I wanted to redesign my website. The old one was limited, and I didn't feel like it was a good representation of myself and my capabilities.
                        </p>
                        <p class="reader">
                            I needed my portfolio to serve as a better medium for my projects, and I also wanted it to look different. I figured I had a chance here with no boss, no designers, and no one telling me which way to build this site. I wanted it to be mine and I wanted it to kick ass.
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="bg-grey">
            <div class="container">
            <section>
                <div class="row">
                    <div class="col-lg-3 section-header">
                        <h2>Requirements</h2>
                    </div>
                    <div class="col-lg-7 offset-lg-1">
                        <ul class="reader">
                            <li>Have Project pages</li>
                            <li>Be able to support multiple pages (templating)</li>
                            <li>Utilize an initial home page load animation</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        </div>
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-lg-3 section-header">
                        <h2>Technology</h2>
                    </div>
                    <div class="col-lg-7 offset-lg-1">
                        <div class="flex-container" style="height: 60px">
                            <img src="/img/handlebars.png">
                            <img src="/img/sass.png">
                            <img src="/img/Vue_logo.png">
                            <img src="/img/gulp.png">
                            <img src="/img/netlify.png">
                            <img src="/img/github.png">
                        </div>
                        <p class="reader">
                            I decided to use <a href='https://handlebarsjs.com/'>HandlebarsJS</a> to handle the basic templating. <a href='https://sass-lang.com/documentation/syntax'>SCSS</a> for CSS preprocessing and <a href='https://vuejs.org/'>VueJS</a> on the front end. Used <a href='https://gulpjs.com/'>Gulp</a> to build and compile everything into one directory and hosted my site on <a href='https://www.netlify.com/'>Netlify</a>, which syncs and deploys from my <a href="https://www.github.com">Github</a> repository.
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="bg-grey">
            <div class="container">
            <section>
                <div class="row">
                    <div class="col-lg-3 section-header">
                        <h2>Previous Portfolio</h2>
                    </div>
                    <div class="col-lg-7 offset-lg-1">
                        <p><img src="/img/tk-v1.jpg">
                        </p>
                        <h3>V1 Resume</h3>
                        <p><strong>2018</strong></p>
                        <p class="reader">
                            Very basic, single page portfolio which was basically an extension of my resume.
                        </p>
                    </div>
                </div>
            </section>
        </div>
        </div>
    </div>
    </main>
    <script src="/scripts/all.js"></script>
</body>
</html>
